@import url('https://use.typekit.net/ggc6cui.css');
body {
    display: flex;
    flex-direction: row;
    padding: 0px;
}

.verticalMenu {
    position: absolute;
    width: 48px;
    height: 768px;
    left: 0px;
    top: 0px;
    background: #82B284;
}

.firstColumn {
    position: absolute;
    top: 20px;
    left: 14px;
}

.secondColumn {
    position: absolute;
    top: 570.92px;
    left: 8px;
}

.said_menu {
    position: absolute;
    width: 224px;
    height: 768px;
    left: 48px;
    top: 0px;
    background: #F7F7F7;
}

.said_title {
    position: absolute;
    width: 160px;
    height: 26px;
    left: 32px;
    top: 13px;

    font-family: Proxima Nova;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;

    display: flex;
    align-items: center;
    letter-spacing: 0.03em;

    color: #42425D;
}

.said_text {
    position: absolute;
    width: 160px;
    height: 19px;
    left: 37px;
    top: 41px;

    font-family: Proxima Nova;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 160%;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.2px;

    color: #42425D;

}

.said_item {
    position: absolute;
    width: 224px;
    height: 44px;
    left: 0px;
    top: 72px;
    transition-duration: 0.3s;
}

.said_item:hover {
    cursor: pointer;
    background-color: #EEEEEE;
    box-shadow:4px 0px 0px 0px rgba(130,178,132,1)inset;
    -webkit-box-shadow:4px 0px 0px 0px rgba(130,178,132,1)inset;
    -moz-box-shadow:4px 0px 0px 0px rgba(130,178,132,1)inset;
    }

.said_item_1 {
    height: 20px;
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #82B284;
    display: flex;
    flex-direction: row;
    padding: 0px;
    left: 16.335px;
    top: 12px;
    position: absolute;
}

.said_item_1 span {
    position: absolute;
    margin-left: 28.005px;
}

.shadow {
    position: absolute;
    width: 21px;
    height: 768px;
    left: 204px;
    top: 0px;

    background: linear-gradient(90deg, rgba(0, 0, 0, 0.072) 0%, rgba(255, 255, 255, 0) 100%);
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.header_surface {
    position: absolute;
    width: 1094px;
    height: 72px;
    left: 272px;
    top: 0px;
    background: #FFFFFF;
}

.header_surface ul {
    list-style-type: none;
    
}

.header_surface_item {
    float: left;
    margin-left: 16px;
    margin-top: 12px;

    font-family: Proxima Nova;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;


color: #82B284;

}

.header_surface_item_icons {
    position: absolute;
    float: right;
    right: 40px;
    top: 24px;

}
.page_header{
padding: 5rem;

border-top: 100% #e5e5e5;
border-bottom: 100% #e5e5e5;
}
.main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}